@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}

p{
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.heading h1{
    font-size: 3rem;
    margin-bottom: 10px ;
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

.heading p{
    text-align: center;
    margin-bottom: 10px ;
}
 .heading span{
     margin-left: 15px;
    font-size: 2rem;
}

.box-body{
        margin: 10px;
        /* background-color: black; */
        width: 500px;
        height: 500px;   
}

.row{
    width: 500px;
    height: 163px;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
}

.border-bottom{
    border-bottom: 5px solid black;
    border-radius: 10%;
}

.cell1{
    width:163px;
    height: 163px;
    border-right: 5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 7.5rem;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}

.cell2{
    width:163px;
    height: 163px;
    border-right: 5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell3{
    width:163px;
    height: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chance{
    margin-top: 15px;

}

/* Button CSS */

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }